@mixin tabs {
  position: relative;
}

@mixin tabs-title {
  color: $c-blue;
  font-weight: $font-weight-heavy;
}

@mixin tabs-navlist {
  margin-bottom: $spacing-medium;

  @include breakpoint(tablet) {
    display: flex;
    margin-bottom: 0;
  }
}

@mixin tabs-navlist-item {
  margin-bottom: $spacing-xsmall;

  @include breakpoint(tablet) {
    border: toRems(1px) solid $c-blue;
    margin-bottom: $spacing-xxsmall;
    margin-right: $spacing-xxsmall;
  }

  &:last-child {
    margin-bottom: 0;

    @include breakpoint(tablet) {
      margin-bottom: $spacing-xxsmall;
      margin-right: 0;
    }
  }

  &.is-active {
    @include breakpoint(tablet) {
      background-color: $c-pearl;
      border-bottom: 0;
      margin-bottom: toRems(-1px);
    }

    .c-tabs__nav-tab {
      @include breakpoint(tablet) {
        background-color: $c-pearl;
        color: $c-blue;
      }
    }
  }
}

@mixin tabs-nav-tab {
  &,
  &:link,
  &:visited {
    padding: $spacing-xxsmall $spacing-xsmall $spacing-xxsmall $spacing-medium;
    position: relative;

    @include breakpoint(tablet) {
      background-color: $c-blue;
      color: $c-pearl;
      display: block;
      padding: $spacing-xsmall $spacing-base;
      text-decoration: none;
    }

    &:before {
      color: currentColor;
      content: '\2014';
      left: 0;
      padding-left: toRems(5px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  &:focus {
    outline: $focus-style;
  }
}

@mixin tabs-panel {
  margin: $spacing-medium 0;
  padding: $spacing-xxsmall $spacing-xsmall;

  @include breakpoint(tablet) {
    border: toRems(1px) solid $c-blue;
    margin: 0;
    padding: $spacing-base;
  }

  &.is-hidden {
    display: none;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin tabs-panel-title {
  color: $c-orange;
  padding-bottom: $spacing-xsmall;
  position: relative;

  &:after {
    background-color: $c-blue;
    bottom: 0;
    content: '';
    height: toRems(3px);
    left: 0;
    position: absolute;
    width: toRems(50px);
  }
}

.c-tabs {
  @include tabs;

  &__title {
    @include tabs-title;
  }

  &__navlist {
    @include tabs-navlist;
  }

  &__navlist-item {
    @include tabs-navlist-item;
  }

  &__nav-tab {
    @include tabs-nav-tab;
  }

  &__panel {
    @include tabs-panel;
  }

  &__panel-title {
    @include tabs-panel-title;
  }
}
