*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: $focus-style;
}

html,
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  width: 100%;
  z-index: 0;
}

body {
  background-color: $c-pearl;

  @include breakpoint(tablet) {
    font-size: $font-size-large;
  }
}

// Headings
h1,
h2,
h3 {
  margin-top: 0;
}

// Reset Lists
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Paragraph
p {
  margin-bottom: $spacing-medium;
  margin-top: 0;
}

a {
  &,
  &:link,
  &:visited {
    color: $c-blue;
  }

  &:hover {
    color: $c-orange;
  }
}
